@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --patrick-hand: "Patrick Hand", cursive;
  --indie-flower: "Indie Flower", cursive;
  --poppins: "Poppins", sans-serif;

  --orange: rgb(255, 115, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: var(--patrick-hand);
}

img {
  user-select: none;
}

body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.button {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: large;

  background-color: var(--orange);
}

.button:hover {
  background-color: #4f4f4f;
  color: var(--orange);
}

.screen-container {
  position: relative;
  width: 100%;
  margin-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen {
  border-radius: 7px;
  padding: 40px 25px;
}

.form input,
.form textarea {
  border: white 2px solid;
  font-size: large;
}

.form button {
  height: 60px;
  background-color: var(--orange);
}

.form button:hover {
  background-color: #000;
}

.form a:hover {
  color: var(--orange);
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: var(--orange);
}

*::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background: #000;
}
h1,
h2,
h3 {
  color: var(--orange);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.section-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.section-container section {
  width: 48%;
  margin: 30px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .section-container {
    flex-direction: column-reverse;
  }

  .section-container section {
    width: 90%;
  }
}
