.Toastify__toast-container {
  width: 350px;
  height: 70px;
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.Toastify__toast {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 16px;
}

.Toastify__toast--success,
.Toastify__toast--error {
  border-bottom: 5px solid var(--orange);
  background-color: rgb(232, 232, 232);

  font-weight: 900;
}

.Toastify__toast--success {
  color: rgba(40, 167, 69, 1);
}

.Toastify__toast--error {
  color: rgba(220, 53, 69, 1);
}

.Toastify__progress-bar {
  background-color: var(--orange);
}

.Toastify__close-button {
  color: #000;
  opacity: 0.7;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1;
}
