#home {
  margin: 0 5%;
  margin-right: 17%;

  width: calc(100% - 22%);
}

.carousel-container {
  width: 100%;

  overflow: hidden;

  border-radius: 10px;
}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 10px;
}
