#home {
  background-color: #cb5050;
  padding: 20px;
  margin: 0 40px;
  margin-top: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
